@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: relative;
}

p{
  padding-top: 5px;  
}

.main-background {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background: linear-gradient(68deg, #CDF0EA, #F9F9F9, #F6C6EA);
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.main-box {
  width: 300px;
  height: 500px;
  margin-top: -89px;
  background-color: #B97A95;
  border-radius: 10px;
  box-shadow: 0px 10px #191722;
}

.top-box {
  text-align: center;
  color: rgb(19, 46, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  opacity: 75%;
}

.value-box {
  max-width: 260px;
  width: 100%;
  height: 80px;
  padding-top: 3px;
  margin-left: 15px;
  border: rgb(18, 14, 32) solid 2px;
  border-radius: 5px;
  background-color: #2e2228;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
}
.value-box>h1 {
  font-family: 'VT323', monospace;
  color: rgb(255, 248, 248);
  font-size: 70px;
  letter-spacing: 3px;
  margin-right: 5px;
}
/*.value-box>h1{
  outline: 5px solid red;
  max-width:;
}*/
.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.input-box button {
  width: 62px;
  height: 54.2px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0.5px black solid;
  box-shadow: 0 3px #1a1820;
  outline: none;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-align: justify;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;  
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(244, 244, 244);
}

button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0px 0px #666;
}